@mixin resetTextDecorations(){
    text-decoration: none;
    list-style: none;
}

@mixin sectionTitle(){
    h2{
        color: white;
        font-size: 26px;
        font-weight: 900;
    }
    div.line{
        border-bottom: 2px solid $text-low-opacity;
    }

    @media (min-width: 1200px){
        h2{
            font-size: 46px;
        }
    }
}

@mixin button($colorBg, $colorBoxShadow, $colorHover){
    cursor: pointer;
    width: 100%;
    color: white;
    border: none;
    font-size: 26px;
    font-weight: 900;
    background-color: $colorBg;
    box-shadow: 0 10px 0 0 $colorBoxShadow;
    padding: 15px;
    border-radius: 8px;
    transition: 0.2s ease;

    &:hover{
        background-color: $colorHover;
    }

    &:active{
        box-shadow: 0 0 0 0 $colorBoxShadow;
        transform: translateY(10px);
    }
}