header{
    nav{
        background-color: $orange;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 20px 25px 20px 25px;

        img{
            width: 25px;
            height: 25px;
            cursor: pointer;
            display: block;
            transition: 0.5s ease;
        }
        @media (min-width: 1200px){
           img{
                display: none;
            }
        }

        img.opened{
            transform: rotate(90deg);
        }
    }
}

div.menu-mobile{
    position: fixed;
    top: 0;
    transform: translateY(69px);
    z-index: 998;
    display: block;
    box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;

    ul{
        background-color: $orange;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        a{
            @include resetTextDecorations;
            color: $text-middle-opacity;
            font-weight: 800;
            border-bottom: 2px solid $text-low-opacity;
            transition: 0.3s ease;

            &:hover {
                color: white;
                border-bottom: 2px solid white;
            }
        }

        p{
            color: $text-low-opacity;
            text-align: center;
            text-justify: center;
        }
    }
    transition: 0.5s ease;
}
@media (min-width: 1200px){
    div.menu-mobile{
        display: none;
    }
}

div.menu-mobile.closed{
    transform: translateY(-145px);
}