header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    a{
        @include resetTextDecorations();
        color: white;
        h1{
            font-size: 25px;
            font-weight: 950;
        }
    }
}
