section.hero{
    
    padding: 100px 25px 100px 25px;
    background-color: $dark-gray;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;

    img{
        width: 100%;
        border-radius: 8px;
    }

    div.hero-content{

        display: flex;
        flex-direction: column;
        gap: 35px;

        div.section-title-container{
            @include sectionTitle();
        }

        p{
            color: $text-low-opacity;
            text-align: justify;
            font-size: 18px;
            line-height: 25px;   
        }

        a{
            button{
                cursor: pointer;
                width: 100%;
                color: white;
                border: none;
                font-size: 26px;
                font-weight: 900;
                background-color: $purple;
                box-shadow: 0 10px 0 0 $dark-purple;
                padding: 15px;
                border-radius: 8px;
                transition: 0.2s ease;

                &:hover{
                    background-color: $light-purple;
                }

                &:active{
                    box-shadow: 0 0 0 0 $dark-purple;
                    transform: translateY(10px);
                }
            }
        }
    }

    @media (min-width: 1200px){
        grid-template-columns: repeat(2, 1fr);
        place-items: center;

        div.hero-content{
            gap: 40px;

            p{
                font-size: 28px;
                line-height: 40px;
            }
        }
    }
}