* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
header a {
  text-decoration: none;
  list-style: none;
  color: white;
}
header a h1 {
  font-size: 25px;
  font-weight: 950;
}

header nav {
  background-color: #ff6200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px 25px 20px 25px;
}
header nav img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: block;
  transition: 0.5s ease;
}
@media (min-width: 1200px) {
  header nav img {
    display: none;
  }
}
header nav img.opened {
  transform: rotate(90deg);
}

div.menu-mobile {
  position: fixed;
  top: 0;
  transform: translateY(70px);
  z-index: 998;
  display: block;
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
}
div.menu-mobile ul {
  background-color: #ff6200;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
div.menu-mobile ul a {
  text-decoration: none;
  list-style: none;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 800;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}
div.menu-mobile ul a:hover {
  color: white;
  border-bottom: 2px solid white;
}
div.menu-mobile ul p {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-justify: center;
}
div.menu-mobile {
  transition: 0.5s ease;
}

@media (min-width: 1200px) {
  div.menu-mobile {
    display: none;
  }
}
div.menu-mobile.closed {
  transform: translateY(-145px);
}

header ul.menu-pc {
  display: none;
}
@media (min-width: 1200px) {
  header nav {
    padding: 20px 50px 20px 50px;
  }
  header nav ul.menu-pc {
    width: 100%;
    display: block;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 100px;
  }
  header nav ul.menu-pc a {
    text-decoration: none;
    list-style: none;
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease;
  }
  header nav ul.menu-pc a:hover {
    color: white;
    border-bottom: 2px solid white;
  }
}

section.hero {
  padding: 100px 25px 100px 25px;
  background-color: #151515;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 35px;
}
section.hero img {
  width: 100%;
  border-radius: 8px;
}
section.hero div.hero-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
section.hero div.hero-content div.section-title-container h2, section.hero div.hero-content div.section-title-container main.day-main div.content-container div.exercise-container p, main.day-main div.content-container div.exercise-container section.hero div.hero-content div.section-title-container p {
  color: white;
  font-size: 26px;
  font-weight: 900;
}
section.hero div.hero-content div.section-title-container div.line {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
@media (min-width: 1200px) {
  section.hero div.hero-content div.section-title-container h2, section.hero div.hero-content div.section-title-container main.day-main div.content-container div.exercise-container p, main.day-main div.content-container div.exercise-container section.hero div.hero-content div.section-title-container p {
    font-size: 46px;
  }
}
section.hero div.hero-content p {
  color: rgba(255, 255, 255, 0.5);
  text-align: justify;
  font-size: 18px;
  line-height: 25px;
}
section.hero div.hero-content a button {
  cursor: pointer;
  width: 100%;
  color: white;
  border: none;
  font-size: 26px;
  font-weight: 900;
  background-color: #ae00e0;
  box-shadow: 0 10px 0 0 #8200a7;
  padding: 15px;
  border-radius: 8px;
  transition: 0.2s ease;
}
section.hero div.hero-content a button:hover {
  background-color: #d749ff;
}
section.hero div.hero-content a button:active {
  box-shadow: 0 0 0 0 #8200a7;
  transform: translateY(10px);
}
@media (min-width: 1200px) {
  section.hero {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  section.hero div.hero-content {
    gap: 40px;
  }
  section.hero div.hero-content p {
    font-size: 28px;
    line-height: 40px;
  }
}

section.workout {
  padding: 100px 25px 100px 25px;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
section.workout div.section-title-container h2, section.workout div.section-title-container main.day-main div.content-container div.exercise-container p, main.day-main div.content-container div.exercise-container section.workout div.section-title-container p {
  color: white;
  font-size: 26px;
  font-weight: 900;
}
section.workout div.section-title-container div.line {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
@media (min-width: 1200px) {
  section.workout div.section-title-container h2, section.workout div.section-title-container main.day-main div.content-container div.exercise-container p, main.day-main div.content-container div.exercise-container section.workout div.section-title-container p {
    font-size: 46px;
  }
}
section.workout div.days-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}
section.workout div.days-container div.day {
  background-color: #ae00e0;
  box-shadow: 0 0 0px 0 #8200a7;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  opacity: 0.7;
  transition: 0.3s ease;
}
section.workout div.days-container div.day img {
  width: 100%;
}
section.workout div.days-container div.day p {
  font-size: 18px;
  text-align: center;
  text-justify: center;
  font-weight: 900;
  color: white;
  padding: 10px 0 10px 0;
}
section.workout div.days-container div.day:hover {
  transform: scale(1.02);
  box-shadow: 0 0 14px 0 #d749ff;
  opacity: 1;
}
section.workout div.days-container div.day.not-included {
  filter: grayscale(100%);
  cursor: default;
}
section.workout div.days-container div.day.not-included:hover {
  transform: scale(1);
  box-shadow: 0 0 0 0 #8200a7;
  opacity: 0.7;
}
@media (min-width: 900px) {
  section.workout div.days-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  section.workout div.days-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

section.contact {
  padding: 100px 25px 100px 25px;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
section.contact div.section-title-container h2, section.contact div.section-title-container main.day-main div.content-container div.exercise-container p, main.day-main div.content-container div.exercise-container section.contact div.section-title-container p {
  color: white;
  font-size: 26px;
  font-weight: 900;
}
section.contact div.section-title-container div.line {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
@media (min-width: 1200px) {
  section.contact div.section-title-container h2, section.contact div.section-title-container main.day-main div.content-container div.exercise-container p, main.day-main div.content-container div.exercise-container section.contact div.section-title-container p {
    font-size: 46px;
  }
}
section.contact p {
  color: rgba(255, 255, 255, 0.5);
  text-align: justify;
  font-size: 18px;
  line-height: 25px;
}
section.contact div.contact-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  justify-self: center;
  align-self: center;
  gap: 25px;
}
section.contact div.contact-container a {
  text-decoration: none;
  list-style: none;
}
section.contact div.contact-container a button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
section.contact div.contact-container a button img {
  width: 30px;
}
section.contact div.contact-container a button.whatsapp-btn {
  cursor: pointer;
  width: 100%;
  color: white;
  border: none;
  font-size: 26px;
  font-weight: 900;
  background-color: #53ae54;
  box-shadow: 0 10px 0 0 #237c24;
  padding: 15px;
  border-radius: 8px;
  transition: 0.2s ease;
}
section.contact div.contact-container a button.whatsapp-btn:hover {
  background-color: #75d176;
}
section.contact div.contact-container a button.whatsapp-btn:active {
  box-shadow: 0 0 0 0 #237c24;
  transform: translateY(10px);
}
section.contact div.contact-container a button.email-btn {
  cursor: pointer;
  width: 100%;
  color: white;
  border: none;
  font-size: 26px;
  font-weight: 900;
  background-color: #38b6ff;
  box-shadow: 0 10px 0 0 #0075b9;
  padding: 15px;
  border-radius: 8px;
  transition: 0.2s ease;
}
section.contact div.contact-container a button.email-btn:hover {
  background-color: #5cc3ff;
}
section.contact div.contact-container a button.email-btn:active {
  box-shadow: 0 0 0 0 #0075b9;
  transform: translateY(10px);
}
section.contact div.contact-container a button.instagram-btn {
  cursor: pointer;
  width: 100%;
  color: white;
  border: none;
  font-size: 26px;
  font-weight: 900;
  background-color: #ae00e0;
  box-shadow: 0 10px 0 0 #8200a7;
  padding: 15px;
  border-radius: 8px;
  transition: 0.2s ease;
}
section.contact div.contact-container a button.instagram-btn:hover {
  background-color: #d749ff;
}
section.contact div.contact-container a button.instagram-btn:active {
  box-shadow: 0 0 0 0 #8200a7;
  transform: translateY(10px);
}
@media (min-width: 1200px) {
  section.contact p {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
  }
}

/*

<div class="contact-container">
    <a href="">
        <button>
            <img src="./img/icons/whatsapp.png" alt="WhatsApp">
            WHATSAPP
        </button>
    </a>

*/
footer {
  text-align: center;
  text-justify: center;
  color: rgba(255, 255, 255, 0.5);
  background-color: #252525;
  padding: 40px;
}

main.day-main {
  height: 100vh;
  background-color: #252525;
  color: white;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
main.day-main div.video-container {
  width: 100%;
  height: 100%;
}
main.day-main div.video-container iframe {
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 10px 0 #151515;
}
main.day-main div.video-container p {
  transform: translateY(-18px);
  justify-self: center;
  text-align: center;
  text-justify: center;
  background-color: #ae00e0;
  padding: 5px;
  width: 100px;
  border-radius: 20px;
  font-weight: 900;
}
main.day-main div.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0 25px 0 25px;
}
main.day-main div.content-container div.exercise-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main.day-main div.content-container div.exercise-container h2, main.day-main div.content-container div.exercise-container p {
  font-size: 26px;
  text-align: center;
  text-justify: center;
}
main.day-main div.content-container div.exercise-container p {
  background-color: #151515;
  padding: 14px;
  border-radius: 8px;
}
main.day-main div.content-container div.exercise-container.closed {
  display: none;
}
main.day-main div.content-container div.timer-container {
  background-color: #151515;
  text-align: center;
  text-justify: center;
  overflow: hidden;
  border-radius: 8px;
}
main.day-main div.content-container div.timer-container h2, main.day-main div.content-container div.timer-container div.exercise-container p, main.day-main div.content-container div.exercise-container div.timer-container p {
  font-size: 46px;
  padding: 10px;
}
main.day-main div.content-container div.timer-container div.timer-buttons-container {
  display: flex;
  gap: 5px;
}
main.day-main div.content-container div.timer-container div.timer-buttons-container button {
  background-color: #ae00e0;
  border: none;
  width: 100%;
  padding: 20px 40px 20px 40px;
  cursor: pointer;
  transition: 0.3s ease;
}
main.day-main div.content-container div.timer-container div.timer-buttons-container button img {
  width: 46px;
}
main.day-main div.content-container div.timer-container div.timer-buttons-container button:hover {
  background-color: #d749ff;
}
main.day-main div.content-container div.timer-container div.timer-buttons-container button:active {
  background-color: #8200a7;
}
main.day-main div.content-container div.timer-container.closed {
  display: none;
}
main.day-main div.content-container div.buttons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 25px;
}
main.day-main div.content-container div.buttons-container button {
  cursor: pointer;
  width: 100%;
  color: white;
  border: none;
  font-size: 26px;
  font-weight: 900;
  background-color: #ff6200;
  box-shadow: 0 10px 0 0 #b24500;
  padding: 15px;
  border-radius: 8px;
  transition: 0.2s ease;
}
main.day-main div.content-container div.buttons-container button:hover {
  background-color: #ff904b;
}
main.day-main div.content-container div.buttons-container button:active {
  box-shadow: 0 0 0 0 #b24500;
  transform: translateY(10px);
}
@media (min-width: 1200px) {
  main.day-main {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 100px 25px 25px 25px;
  }
  main.day-main div.video-container iframe {
    border-radius: 8px;
    box-shadow: 10px 10px 10px 0 #151515;
  }
  main.day-main div.content-container div.exercise-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  main.day-main div.content-container div.exercise-container h2, main.day-main div.content-container div.exercise-container p {
    font-size: 46px;
  }
  main.day-main div.content-container div.timer-container h2, main.day-main div.content-container div.timer-container div.exercise-container p, main.day-main div.content-container div.exercise-container div.timer-container p {
    font-size: 76px;
    padding: 40px;
  }
  main.day-main div.content-container div.timer-container div.timer-buttons-container {
    display: flex;
    gap: 5px;
  }
  main.day-main div.content-container div.timer-container div.timer-buttons-container button {
    background-color: #ae00e0;
    border: none;
    width: 100%;
    padding: 15px 60px 15px 60px;
  }
  main.day-main div.content-container div.timer-container div.timer-buttons-container button img {
    width: 66px;
  }
}

html {
  scroll-behavior: smooth;
}

div.line {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid rgba(21, 21, 21, 0.4);
  border-radius: 50px;
}

span.highlight {
  color: #ff6200;
}/*# sourceMappingURL=index.css.map */