//GLOBAL
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;

    //FONT
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

//IMPORTS
@import './variables';
@import './functions';
@import './header';
@import './header-mobile';
@import './header-pc';
@import './hero';
@import './workout';

html{
    scroll-behavior: smooth;
}

//LINE
div.line{
    height: 1px;
    width: 100%;
    border-bottom: 1px solid $dark-low-opacity;
    border-radius: 50px;
}

//HIHGLIGHT
span.highlight{
    color: $orange;
}
